<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.renrentui.app"
    android:installLocation="auto"
    android:versionCode="113"
    android:versionName="1.1.3" >

    <uses-sdk
        android:maxSdkVersion="24"
        android:minSdkVersion="11" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- since 1.6.0 -->


    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!-- 分享增加的权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppThemeNoAction" >
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.user.activity.LoginActivity" />
        <activity
            android:name="com.task.activity.MyTaskMaterialActivity"
            android:launchMode="singleTop" />
        <activity android:name="com.task.activity.NoGoingTaskActicity" />
        <activity android:name="com.user.activity.FindPwdActivity" />
        <activity android:name="com.user.activity.RegisterActivity" />
        <activity android:name="com.user.activity.UpdatePwdActivity" />
        <activity android:name="com.user.activity.PersonalCenterActivity" />
        <activity android:name="com.user.activity.HelpCenterActivity" />
        <activity android:name="com.user.activity.PersonalDataActivity" />
        <activity
            android:name="com.user.activity.WithdrawalsActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.user.activity.MoreActivity" />
        <activity android:name="com.task.activity.WebViewActivity" />
        <activity android:name="com.task.activity.ShareViewActivity" />
        <activity android:name="com.task.activity.MyTaskMaterialDetailActivity" />
        <!-- 资料录入 -->
        <activity
            android:name="com.task.activity.TaskDatumSubmitActiviyt"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity android:name="com.task.activity.ShowTaskMatailDetailActivity" />
        <activity android:name="com.task.activity.ShowCityActivity" />
        <activity android:name="com.user.activity.MyMessageActivity" />
        <activity android:name="com.user.activity.EditEditUserAlipayActivity" />
        <activity android:name="com.user.activity.ShowAlipayDetailActivity" />
        <activity android:name="com.user.activity.MyMessageDetails" />
        <activity android:name="com.user.activity.MyFriendsActivity" >
        </activity>
        <activity android:name="com.user.activity.MyCapitalFramentActivity" >
        </activity>
        <activity android:name="com.user.activity.MyCapialDetailActivity" >
        </activity>
        <activity android:name="com.task.activity.MyMaterialTaskTeamActivity" />
        <!-- 新的我的任务 -->
        <activity android:name="com.task.activity.MyTaskFramentNewActivity" />
        <activity android:name="com.task.activity.TaskDetailInfoNewActivity" />
        <activity android:name="com.task.activity.TaskMyFriendListViewActivity" >
        </activity>
        <!-- 我的合作伙伴 -->
        <activity
            android:name="com.user.activity.MyFriendListActivity"
            android:label="@string/title_activity_my_friend" >
        </activity>

        <activity
            android:name="com.task.activity.PersonalAddInfoActivity"
             >
        </activity>
        <activity
            android:name="com.task.activity.ShowTaskMateriaBitPic"
            >
        </activity>

        <service
            android:name="com.user.model.download.DownLoadService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.user.model.download.DownLoadService.START" />
                <action android:name="com.user.model.download.DownLoadService.STOP" />
            </intent-filter>
        </service>
        <!-- 上传service -->
        <service
            android:name="com.task.upload.UploadService"
            android:process=":UploadService" />

        <!-- baiduditu -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="BFObCRofj97nFNd8N5eozBMU" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="566e3fd967e58e9d56000ae1" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!-- 分享设置 -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!-- 微信平台 -->
        <activity
            android:name="com.share.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- qq平台 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 新浪微博平台 -->
        <activity
            android:name="com.share.wb.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false" >
        </service>

        <!-- 客服部分 -->
        <activity
            android:name="com.sobot.chat.activity.SobotChatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.sobot.chat.activity.SobotPhotoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sobot.chat.activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.share.activity.ShareContentEditActivity"
            android:label="@string/title_activity_share_content_edit" >
        </activity>
    </application>

</manifest>
